<h1>ユーザ一覧</h1>

<%= will_paginate @users %>
<% @users.each do |user| %>
    <p>ユーザ名：<%= link_to user.name, '/one_friend/'+user.id.to_s %></p>
    <p>メール：<%= link_to user.email, '/one_friend/'+user.id.to_s %></p>
    <p>-----------------------</p>
<% end %>

<%= will_paginate @users %>