<h1>友達検索</h1>

<p>↓ユーザ一覧↓</p>

<%= will_paginate @users %>
<% @users.each do |user| %>
    <p>ユーザ名：<%= link_to user.name, '/one_friend/'+user.id.to_s %></p>
    <p>メール：<%= link_to user.email, '/one_friend/'+user.id.to_s %></p>
    <p>-----------------------</p>
<% end %>

<%= will_paginate @users %>