<h1>ユーザ一覧</h1>

<div class="display-friends">
    <% @users.each do |user| %>
        <% if user.id != current_user.id %>
            <%= link_to '/one_friend/'+user.id.to_s, class: "one-user" do %>
                <p><%= user.name %></p>
                <p><%= user.posts.sum(:discount) %></p>
            <% end %>
        <% end %>
    <% end %>
</div>

<%= will_paginate @users %>