@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 60px;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0;
}

.post {
    border: 2px solid #BAD3FF;
    border-radius: 10px;
    margin: 10px auto;
    width: 40%;
    background-color: #EEFFFF;
    padding-top: 10px;
    font-size: 18px;
    text-align: left;
    padding: 10px;
}


.statistics {
    max-width: 300px;
    display: block;
    padding: 0 auto 0 40px;
    margin: 0px auto;
    font-size: 18px;
    font-weight: bold;
    list-style: none;
    text-align: left;
    // border: 3px solid gray;
}

.user-name {
    border: 3px solid gray;
}
