@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 60px;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0;
}

.post {
    border-radius: 10px;
    margin: 10px auto;
    width: 80%;
    padding-top: 10px;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    background: white;
}


.user-name {
    border: 3px solid gray;
}
